.page-header
  %strong= resource.title
  = raw resource.artists.map{|a| link_to a.name, a}.to_sentence

= render resource

.page-header
  %strong Description

.wrapper
  - if resource.description_file
    %pre#description= Iconv.new('UTF-8', 'IBM437').conv(File.open(resource.description_file, "rb").read)
  - else
    %em No description